body{
    font-family: Roboto;
}
.dashboard_container{
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
font-family: Roboto;
}
.container_1{
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

.container_1 .navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    }

.container_1 .navbar .nav_left{
    display: flex;
    justify-items: center;
    align-items: center;

}

.container_1 .navbar .nav_left .logo{
    margin-left: 15px;
}
.container_1 .navbar .nav_left .logo img{
    height: 30px;
    width: 142px;
}
.container_1 .navbar .nav_left .search{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 70px;
}
.container_1 .navbar .nav_left .search .s_i img{
    height: 16px;
    width: 16px;
    margin-top: 4px;
}
.container_1 .navbar .nav_left .search input{
    border: none;
    outline: none;
    width: 100%;
    background: transparent;
    font-size: 16px;
    margin-left: 10px;
}


.container_1 .navbar .nav_right{
    justify-items: center;
    align-items: center;
    display: flex;
}

.container_1 .navbar .nav_right .notification{
    margin-right: 50px;
    height: 20px;
    width: 20px;
}

.container_1 .navbar .nav_right .profile_pic img{
    border: none;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin-right: 10px;
}

.container_1 .navbar .nav_right .profile{
    display: flex;
    justify-items: center;
    align-items: center;
}

.container_1 .navbar .nav_right .profilfe .user_name{
    font-size: 16px;
    color: #000000;
    margin-right: 15px;
    font-weight: lighter;
}

.container_1 .navbar .nav_right .profile .dropdown_arrow{
    width: 6px;
    height: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
}

/* side bar */
.container2{
    display: flex;
    background-color: #FAFAFA;
    overflow: hidden;
}

.container_sidebar{
    font-size: 16px;
    width: 240px;
    background: #FFFFFF;

}

.container_sidebar .sidebar{
    margin:0;
    padding-right:29px;
    padding-top: 25px;
    padding-left: 29px;
}
.container_sidebar .sidebar .active{
    background-color: #FFF3F4;
    color: #C8242F;
    padding: 14px 0 14px 17px;
    border-radius: 5px;
}
.container_sidebar .sidebar .unactive{
    color: #3E3E3E;
    padding: 14px 0 14px 17px;
}
.container_sidebar .sidebar a{
    display: flex;
    text-transform: capitalize;
    width: 165px;
    text-decoration: none;
    /* margin-bottom: 32px; */
} 
.container_sidebar .sidebar a img{
    height: 15px;
    width: 15px;
    padding-top: 2px;
    padding-right: 12.5px;
    color: #3E3E3E;
}

/* dashboard inner */

.container_dash{
    padding: 15px 0px 30px 48px;
    width: 100%;
}

.container_dash h1{
    font-size: 30px;
}

.container_dash .company_info{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    
}

.container_dash .company_info .company_items{
    justify-items: center;
    width: 200px;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    margin-right: 20px;
    padding: 5px 6px 5px 6px;
}
.container_dash .company_info .company_items img{
    height: 33.33px;
    width: 33.33px;

}
.container_dash .company_info .company_items .items_stat h3{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.container_dash .company_info .company_items .items_stat p{
    margin: 0;
    padding: 0;
    font-weight:lighter;
    font-size: 15px;
}

/* charts */

.container_dash .dash_chart{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-right: 30px;
}

.container_dash .dash_chart .item1{
    background-color: #FFFFFF;
    padding: 24px 30px 29px 30px;
}

.container_dash .dash_chart .item1 .heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    
}

.container_dash .dash_chart .item1 .heading .left{
    font-weight: lighter;
    font-size: 22px;
    color:#3E3E3E;
}
.container_dash .dash_chart .item1 .heading .right a{
    margin-right: 20px;
    text-decoration: none;
    font-size: 12px;
    color: #ADADAD;
}
.container_dash .dash_chart .item1 .heading .right .active{
    color: #C8242F;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    width: fit-content;
}
.container_dash .dash_chart .item2{
    background-color: #FFFFFF;
    padding: 10px 29px 35px 29px;
    margin-left: 30px;
}
.container_dash .dash_chart .item2 h3{
    color: #3E3E3E ;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
}
.container_dash .dash_chart .item2 .chart{
    text-align: center;
}

.container_dash .dash_chart .item2 .country .list{
    /* font-size: 15px; */
    font-weight: lighter;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container_dash .dash_chart .item2 .country .list div:nth-child(n){
    font-size: 15px;
    color: #3E3E3E;
    margin-right: 10px;
    margin-bottom: 10px;
}

.container_dash .dash_chart .item2 .country .list div:nth-child(1){
  color: #C8242F;
  font-size: 15px;
  margin-right: 10px;
}
.container_dash .dash_chart .item2 .country .list div:nth-child(3){
    color: #F16C20;
    font-size: 15px;
    margin-right: 10px;
  }
  .container_dash .dash_chart .item2 .country .list div:nth-child(5){
    color: #A2B86C;
    font-size: 15px;
    margin-right: 10px;
  }
  .container_dash .dash_chart .item2 .country .list div:nth-child(7){
    color: #EBC844;
    font-size: 15px;
    margin-right: 10px;
  }

/* table */

.container_dash .dash_table{
    background-color: #FFFFFF;
    margin-top: 30px;
    margin-right: 30px;
    padding: 23px 30px 23px 30px;
    margin-bottom: 30px;
}

.container_dash .dash_table .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container_dash .dash_table .nav h3{
    margin: 0;
    padding: 0;
    font-size: 23px;
    
}
.container_dash .dash_table .nav a{
    color: #C8242F;
    text-decoration: none;
    font-size: 12px;
    
}
.container_dash .dash_table .In_table table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 36px;
   margin-left: 10px;
}
.container_dash .dash_table .In_table table th{
    text-transform:uppercase;
    color: #ADADAD;
    font-size: 15px;
    letter-spacing: 1.5px;
    font-weight: lighter;
    text-align: left;
    padding-bottom: 15px;
}
.container_dash .dash_table .In_table table td{
    padding-top: 15px;
    text-align: left;
    padding-bottom: 15px;
    color: #3E3E3E;
    font-size: 15px;
  }
  .container_dash .dash_table .In_table table tr{
    border-bottom: 1px solid #E9E9E9;
  }
  .container_dash .dash_table .In_table table .no-border{
    border-bottom: none;
  }

  .container_dash .dash_table .In_table table tr .paid{
    background-color: #EBFFEF;
    color: #3CDD5F;
    width: fit-content;
    padding: 5px 10px 5px 10px;
  }
  .container_dash .dash_table .In_table table tr .failed{
    background-color: #FFF5F5;
    color: #FF4545;
    width: fit-content;
    padding: 5px 10px 5px 10px;
  }
  .container_dash .dash_table .In_table table tr .pending{
    background-color: #F8F8F8;
    color: #BABABA;
    width: fit-content;
    padding: 5px 10px 5px 10px;
  }
