body{
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
font-family: Roboto;
}
/* .container{
    display: grid;
    grid-template-columns: auto auto;
    padding-top:70px;
    align-items: center;
    justify-content: center;
    grid-gap: 100px;
}
.container .text{
    width: 500px;
}
.container .image{
    width: 500px;
}
.container .laptop_image{
    height: 500px;
    width: 500px;
    border:20px solid #FFFFFF ;
    border-radius: 50% ;
} */


.container .text .company {
    height: 58px;
    width: 55px;
}
.container .text .moto{
    font-size: 40px;
    color: #3E3E3E;
    text-align: left;
    font-weight: lighter;
}
.container .text .moto span{
    color: #C8242F;
} 

.container .text .login_title{
    font-size: 25px;
    font-weight: lighter;
    height: 33px;
}

.container .text .field input{
    margin-top: 24px;
    height: 49px;
    width: 429px;
    padding-left: 15px;
    border-radius: 4.5px;
    border: 1px solid #ADADAD;
    color: #ADADAD;
    font-size: 15px;
}

.container .text .links{
    display: flex;
    margin-top:30px;
    justify-content: space-between;
    width: 440px;
}

.container .text .links .login button{
    height: 45px;
    width: 140px;
    background-color: #C8242F;
    color: #FFFFFF;
    border-radius: 22.5px;
    border: none;
    font-size: 18px;
} 

.container .text .links .fp{
    padding-top: 12px;
}
.container .text .links .fp a{
    text-decoration: none;
    color: #ADADAD;
    font-size: 15px;
}

.container .text .Rh{
    margin-top: 24px;
    color: #ADADAD;
    font-size: 15px;
}

.container .text .Rh a{
    color: #C8242F;
    text-decoration: none;
}

/* dashboard css */

/* media query */

@media screen and (max-width:768px) { /*   mobiles */
    .container{
        display: grid;
        padding-top:50px;
        padding-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
    .container .text{
        width: 500px;
        position: relative;
    }
    .container .image{
        display: none;
    }
    .container{
        position: relative;

    }
    .container::before{
    background-image: url("../images/hero-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 1000%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: fill;
    }
}
 
@media (min-width:768px) and (max-width:991px) { /*   small devices */
    .container{
        display: grid;
        padding-top:50px;
        padding-bottom: 30px;
        align-items: center;
        justify-content: center;
    }
    .container .text{
        width: 500px;
        position: relative;
    }
    .container .image{
        display: none;
    }
    .container{
        position: relative;

    }
    .container::before{
    background-image: url("../images/hero-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        content: ' ';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-repeat: no-repeat;
    background-size: fill;
    }

}
 
@media (min-width:992px) and (max-width:1199px) { /*   medium devices */
    .container{
        display: grid;
        grid-template-columns: auto auto;
        padding-top:70px;
        align-items: center;
        justify-content: center;
        grid-gap: 30px;
    }
    .container .text{
        width: 500px;
    }
    .container .image{
        width: 500px;
    }
    .container .laptop_image{
        height: 400px;
        width: 400px;
        border:20px solid #FFFFFF ;
        border-radius: 50% ;
        margin-left: 50px;
    }
}


@media (min-width:992px) and (max-width:1199px) { /*   medium devices */
    .container{
        display: grid;
        grid-template-columns: auto auto;
        padding-top:70px;
        align-items: center;
        justify-content: center;
        grid-gap: 100px;
    }
    .container .text{
        width: 500px;
    }
    .container .image{
        width: 500px;
        
    }
    .container .laptop_image{
        height: 450px;
        width: 450px;
        border:20px solid #FFFFFF ;
        border-radius: 50% ;
        margin-left: 50px;
    }
}
 
@media (min-width:1200px) { /*   large devices */
    .container{
        display: grid;
        grid-template-columns: auto auto;
        padding-top:70px;
        align-items: center;
        justify-content: center;
        grid-gap: 200px;
    }
    .container .text{
        width: 100%;
    }
    .container .image{
        width: 500px;
        
    }
    .container .laptop_image{
        height: 500px;
        width: 500px;
        border:20px solid #FFFFFF ;
        border-radius: 50% ;
        margin-left: 50px;
    }
}
