body{
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
font-family: Roboto;
}
.container{
    display: flex;
    align-items: center;
}
.container .laptop_image{
    height: 576px;
    width: 576px;
    margin:72px 164px 72px 136px ;
    border:20px solid #FFFFFF ;
    border-radius: 50% ;
}
.container .text .company {
    height: 58px;
    width: 55px;
}
.container .text .moto{
    font-size: 40px;
    color: #3E3E3E;
    text-align: left;
    font-weight: lighter;
}
.container .text .moto span{
    color: #C8242F;
} 

.container .text .login_title{
    font-size: 25px;
    font-weight: lighter;
    height: 33px;
}

.container .text .field input{
    margin-top: 24px;
    height: 49px;
    width: 429px;
    padding-left: 15px;
    border-radius: 4.5px;
    border: 1px solid #ADADAD;
    color: #ADADAD;
    font-size: 15px;
}

.container .text .links{
    display: flex;
    margin-top:30px;
    justify-content: space-between;
    width: 440px;
}

.container .text .links .login button{
    height: 45px;
    width: 140px;
    background-color: #C8242F;
    color: #FFFFFF;
    border-radius: 22.5px;
    border: none;
    font-size: 18px;
} 

.container .text .links .fp{
    padding-top: 12px;
}
.container .text .links .fp a{
    text-decoration: none;
    color: #ADADAD;
    font-size: 15px;
}

.container .text .Rh{
    margin-top: 24px;
    color: #ADADAD;
    font-size: 15px;
}

.container .text .Rh a{
    color: #C8242F;
    text-decoration: none;
}

/* dashboard css */

